.githooks

node_modules
coverage

/.next/

# start: e2e #
.auth
playwright-report
test-results
# end: e2e #

.DS_Store
*.pem

.env

.vercel

*.tsbuildinfo
next-env.d.ts

####### 👉 remove #######
migrations
########################
