/node_modules
/coverage

/.next/

####### e2e #######
.auth
playwright-report
test-results
########################

.DS_Store
*.pem

.env

.vercel

*.tsbuildinfo
next-env.d.ts

####### 👉 remove #######
migrations
internal-tests-output-*
########################
